<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/skeleton.css"/>
    <link rel="stylesheet" type="text/css" href="static/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="static/custom.css"/>
</head>
<body>
<header style="margin-top: 1%;">
        <div class="container">
            <div class="row">
                <div class="six columns" align="middle">
                    <a href="/user/0" class="button">Account</a>
                </div>
                <div class="six columns" align="middle">
                    <a href="/" class="button">Posts</a>
                </div>
            </div>
            <hr/>
        </div>
</header>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>