{% extends "base.html" %}

{% block content %}
<section class="header" style="margin-top: 5%;">
    <h2 class="title"> Set Password </h2>
</section>

<form method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="six columns">
            <label for="password">Password</label>
            {{ form.new_password(class="u-full-width", type="text", id="password") }}
        </div>
        <label class="example-send-yourself-copy">
            {{ form.turn_on() }}
            <span class="label-body">Secure connection</span>
        </label>
    </div>
    {{ form.submit(class="button-primary", type="submit", style="margin-top: 1%;") }}
</form>
{% endblock %}